<nav
  id="main-navbar"
  class="navbar navbar-expand-lg navbar-light bg-light"
  role="navigation"
>
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#!">Git Workshop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">หน้าหลัก</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Git/GitHub</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/knowledges/github-guide.html"
                >GitHub Guide</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/knowledges/github-actions-guide.html"
                >GitHub Actions Guide</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="/knowledges/git-commands-reference.html"
                >Git Command Reference</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/knowledges/git-naming-guide.html"
                >Git Naming Guide</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/knowledges/git-naming-summary-tables.html"
                >Git Naming Summary Tables</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="/knowledges/git-workflow-add-feature.html"
                >Git Workflow: add feature</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/knowledges/git-workflow-bugfix.html"
                >Git Workflow: bugfix</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/knowledges/git-workflow-hotfix.html"
                >Git Workflow: hotfix</a
              >
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item"><a class="nav-link" href="/product.html">สินค้า</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/about.html">เกี่ยวกับเรา</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/contact.html">ติดต่อเรา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map.html">แผนที่</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
    </div>
  </div>
</nav>
